* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body {
	background-color: #010101;
	font-family: 'Saira', Arial, Helvetica, sans-serif;

}

h1 {
	margin: 30px 0px;
	color: #21F121;
	font-size: 42px;
	font-weight: 900;
	text-align: center;
}

.date-picker{
	position: relative;
	width: 100%;
	max-width: 320px;
	height: 60px;
	background-color: #F0F0F0;
	margin: auto;

	cursor: pointer;
	user-select: none;
	border-radius: 9% / 36% 36% 0 0;
}

.date-picker:hover {
	background-color: #D3D3D3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;
	font-size: 28px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
	padding: 10px;
	border-radius: 0 0 9% 9%;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}

.date-picker .dates .days .day {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}

.date-picker .dates .days .day.selected-first {
	border-radius: 30% 0 0 30%;
	animation: .5s ease-in .5s infinite alternate select-main ;
	font-weight: bolder;
}

.date-picker .dates .days .day.selected-last {
	border-radius: 0 30% 30% 0;
	animation: .5s ease-in .5s infinite alternate select-main ;
	font-weight: bolder;
}

.date-picker .dates .days .day.selected-inside {
	animation: .5s ease-in .5s infinite alternate select-inside ;
	font-weight: bolder;
}

@keyframes select-main {
	from {
		background-color: #F0FDF0;
	}

	to {
		background-color: #99FA99;
	}
}

@keyframes select-inside {
	from {
		background-color: #F9FFF9;
	}

	to {
		background-color: #F9FFF9;
	}
}
